/* Changed the font family, font size and added a background colour*/
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: wheat;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Text Styling */
h1 {
  color: blue;
  text-align: center;
}

/* Image Styling */
img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}